<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="RiseClipse RCP" sequenceNumber="1781193294">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.common" version="1.23.0.v20260327-1054"/>
      <unit id="org.eclipse.ocl.tools.feature.group" version="3.23.1.v20260327-1054"/>
      <unit id="org.eclipse.ocl.pivot" version="1.23.0.v20260327-1054"/>
      <unit id="org.eclipse.ocl.pivot.uml" version="1.23.0.v20260327-1054"/>
      <unit id="org.eclipse.ocl.xtext.base" version="1.23.0.v20260327-1054"/>
      <unit id="org.eclipse.ocl.xtext.completeocl" version="1.23.0.v20260327-1054"/>
      <unit id="org.eclipse.ocl.xtext.essentialocl" version="1.23.0.v20260327-1054"/>
      <unit id="org.eclipse.ocl.xtext.oclinecore" version="1.23.0.v20260327-1054"/>
      <unit id="org.eclipse.ocl.xtext.oclstdlib" version="1.23.0.v20260327-1054"/>
      <repository id="ocl-with-extended-stdlib" location="https://github.com/riseclipse/org.eclipse.ocl/releases/download/nightly/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.commons.cli" version="1.10.0"/>
      <unit id="org.apache.commons.lang3" version="3.18.0"/>
      <repository id="orbit-2025-09" location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/4.37.0"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="com.google.inject" version="0.0.0"/>
      <unit id="org.apache.commons.io" version="0.0.0"/>
      <unit id="org.apache.commons.logging" version="0.0.0"/>
      <unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ocl.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ui.console" version="0.0.0"/>
      <unit id="org.eclipse.ui.ide" version="0.0.0"/>
      <unit id="org.eclipse.ui.views" version="0.0.0"/>
      <unit id="com.google.guava.failureaccess" version="1.0.3"/>
      <unit id="org.antlr.runtime" version="3.2.0.v20230929-1400"/>
      <unit id="org.aopalliance" version="1.0.0.v20230720-0728"/>
      <unit id="org.apache.log4j" version="1.2.26"/>
      <unit id="org.eclipse.core.contenttype" version="3.9.700.v20250720-0618"/>
      <unit id="org.eclipse.core.commands" version="3.12.400.v20250312-0643"/>
      <unit id="org.eclipse.core.expressions" version="3.9.500.v20250608-0434"/>
      <unit id="org.eclipse.core.filesystem" version="1.11.300.v20250607-0645"/>
      <unit id="org.eclipse.core.jobs" version="3.15.700.v20250725-1147"/>
      <unit id="org.eclipse.core.runtime" version="3.34.0.v20250711-1249"/>
      <unit id="org.eclipse.core.resources" version="3.23.0.v20250729-1759"/>
      <unit id="org.eclipse.core.variables" version="3.6.600.v20250609-0415"/>
      <unit id="org.eclipse.debug.core" version="3.23.100.v20250811-0711"/>
      <unit id="org.eclipse.emf.codegen" version="2.27.0.v20250825-1255"/>
      <unit id="org.eclipse.emf.codegen.ecore" version="2.43.0.v20250810-1438"/>
      <unit id="org.eclipse.emf.common" version="2.43.0.v20250629-1403"/>
      <unit id="org.eclipse.emf.ecore" version="2.40.0.v20250803-1633"/>
      <unit id="org.eclipse.emf.ecore.change" version="2.17.0.v20240604-0832"/>
      <unit id="org.eclipse.emf.ecore.xmi" version="2.39.0.v20250414-1351"/>
      <unit id="org.eclipse.emf.edit" version="2.23.0.v20250330-0741"/>
      <unit id="org.eclipse.emf.mapping.ecore2xml" version="2.13.0.v20240604-0832"/>
      <unit id="org.eclipse.equinox.app" version="1.7.500.v20250629-0337"/>
      <unit id="org.eclipse.equinox.common" version="3.20.200.v20250628-0509"/>
      <unit id="org.eclipse.equinox.preferences" version="3.12.0.v20250721-0426"/>
      <unit id="org.eclipse.equinox.registry" version="3.12.500.v20250708-0540"/>
      <unit id="org.eclipse.jdt.core" version="3.43.0.v20250820-1501"/>
      <unit id="org.eclipse.jdt.debug" version="3.24.0.v20250729-0743"/>
      <unit id="org.eclipse.jdt.launching" version="3.23.400.v20250812-0543"/>
      <unit id="org.eclipse.jface" version="3.38.0.v20250807-1828"/>
      <unit id="org.eclipse.osgi" version="3.23.200.v20250812-1847"/>
      <unit id="org.eclipse.osgi.compatibility.state" version="1.2.1200.v20250506-0416"/>
      <unit id="org.eclipse.swt" version="3.131.0.v20250820-1556"/>
      <unit id="org.eclipse.text" version="3.14.400.v20250731-0735"/>
      <unit id="org.eclipse.uml2.codegen.ecore" version="2.5.2.v20221116-1811"/>
      <unit id="org.eclipse.uml2.common" version="2.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.uml" version="5.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.uml.profile.standard" version="1.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.uml.resources" version="5.5.0.v20221116-1811"/>
      <unit id="org.eclipse.uml2.types" version="2.5.0.v20221116-1811"/>
      <unit id="org.eclipse.xtend.lib" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtend.lib.macro" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext.xbase.lib" version="2.40.0.v20250825-0355"/>
      <unit id="org.eclipse.xtext.util" version="2.40.0.v20250825-0355"/>
      <repository id="eclipse-2025-09" location="http://download.eclipse.org/releases/2025-09"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="0.0.0"/>
      <repository id="justj" location="https://download.eclipse.org/justj/jres/21/updates/release"/>
    </location>
  </locations>
</target>
