# *************************************************************************
# **  See https://fbricon.github.io/posts/use-github-releases-as-p2-repo/
# **
# **  This file is part of the RiseClipse tool
# **
# **  Contacts:
# **      dominique.marcadet@centralesupelec.fr
# **      aurelie.dehouck-neveu@edf.fr
# **  Web site:
# **      https://riseclipse.github.io
# *************************************************************************

name: Release as Eclipse p2 update site

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout ${{ github.event.repository.name }}
      uses: actions/checkout@v4
      with:
        path: ${{ github.event.repository.name }}

    - name: Display current content
      run: ls -lR

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    # Maven on ubuntu-22.04 is 3.8.8, Tycho wants at least 3.9
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.6

    - name: Build with Maven
      run: mvn package

    - name: Upload flat p2 update site
      if: github.ref == 'refs/heads/main'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{secrets.GITHUB_TOKEN}}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Development Build"
        files: |
          fr.centralesupelec.edf.riseclipse.update-site/target/flat-repository/*

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          fr.centralesupelec.edf.riseclipse.update-site/target/flat-repository/*

